*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    height: 100vh;
}

.container {
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 8px;
    max-width: 400px;
    margin: 0 auto;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-top: 5rem;
}

label {
    display: block;
    font-size: 1.2em;
    margin-bottom: 8px;
    font-weight: bold;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1em;
}

button {
    background-color: #007BFF;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

.container-2 {
    display: flex;

    background-color: #f0f0f0;
    border-radius: 8px;
    width: 400px;
    margin: 0 auto;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-top: 5rem;
}

.container-2 label{
    margin-left: 20px;
    margin-right: 10px;
}

.container-2 p{
    font-size: 25px;
    font-weight: bold;
}